
!**/[Pp]ackages/build/
!.axoCover/settings.json

!?*.[Cc]ache/
![Ss]tyle[Cc]op.targets
!packages/build/
!packages/repositories.config
$RECYCLE.BIN/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/[Pp]ackages/*
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.Cache
*.DotSettings.user
*.GhostDoc.xml
*.Publish.xml
*.VC.VC.opendb
*.VC.db
*.VisualState.xml
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bim.layout
*.bim_*.settings
*.bin
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.code-workspace
*.coverage
*.coveragexml
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.dsp
*.dsw
*.e2e
*.gpState
*.ide/
*.ilk
*.iobj
*.ipdb
*.jfm
*.jmconfig
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ncrunchproject
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.snupkg
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.v2
*.vbp
*.vbw
*.vsp
*.vspscc
*.vspx
*.vssscc
*.xsd.cs
*_h.h
*_i.c
*_i.h
*_p.c
*_wpftmp.csproj
*~
.*crunch*.local.xml
.DS_Store
.JustCode
.axoCover/*
.builds
.cr/personal
.fake/
.history/
.ionide/
.localhistory/
.mfractor/
.ntvs_analysis.dat
.paket/paket.exe
.sass-cache/
.vs/*

.vshistory/
/SOSCSRPG/.vs
ASALocalRun/
AppPackages/
App_Data/*.ldf
App_Data/*.mdf
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
BundleArtifacts/
ClientBin/
Desktop.ini
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
FakesAssemblies/
FodyWeavers.xsd
Generated\ Files/
Generated_Code/
MigrationBackup/
OpenCover/
Package.StoreAssociation.xml
PublishScripts/
ScaffoldingReadMe.txt
ServiceFabricBackup/
StyleCop.Cache
StyleCopReport.xml
TestResult.xml
Thumbs.db
UpgradeLog*.XML
UpgradeLog*.htm
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
_Chutzpah*
_NCrunch*
_NCrunch_*
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
__pycache__/
_pkginfo.txt
artifacts/
bin
bld/
build/
coverage*.info
coverage*.json
coverage*.xml
csx/
dlldata.c
ecf/
ehthumbs.db
git_stats/*
healthchecksdb
ipch/
mono_crash.*
nCrunchTemp_*
node_modules/
nunit-*.xml
obj
orleans.codegen.cs
packages/
packages/*
paket-files/
project.fragment.lock.json
project.lock.json
publish/
rcf/
sql/
x64/
x86/
~$*
/SOSCSRPG/.vs
SOSCSRPG/.vs/ProjectEvaluation/soscsrpg.metadata.v7.bin
/SOSCSRPG/.vs
SOSCSRPG/.vs/ProjectEvaluation/soscsrpg.metadata.v7.bin
SOSCSRPG/.vs/ProjectEvaluation/soscsrpg.projects.v7.bin
SOSCSRPG/.vs/SOSCSRPG/DesignTimeBuild/.dtbcache.v2
SOSCSRPG/.vs/SOSCSRPG/v17/.futdcache.v2
SOSCSRPG/.vs/SOSCSRPG/v17/DocumentLayout.json
/SOSCSRPG/.vs
